:root {
  --Blue: #080a52;
  --White: #f3f3f3;
  --Pink: #eb2188;
  --Green: #006400;
  --Purple: #3c1a5b;
  --Yellow: #fff748;
}
body {
  font-family: "Poppins", sans-serif !important;
  background: rgba(200, 200, 200, 0.4) !important;
}

.text-title {
  font-family: "Ranga", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-pink {
  color: var(--Pink);
}
.text-purple {
  color: var(--Purple);
}

.fa-cart-plus {
  color: var(--Yellow);
}
.btn-pm {
  border: 0.1rem solid black !important;
}
